header {
    width: 100%;
    background-color: rgb(182, 236, 234);
    padding: 25px;
}

header .navbar {
    display: flex;
    justify-content: space-between;
    margin: auto;
}

header a {
    text-decoration: none;
    margin-right: 80px;
    letter-spacing: 1px;
    color: rgb(2, 1, 1);
    font-family: "Gill Sans", sans-serif;
    font-size: 17px;
}

