#main{
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  object-fit: cover;
}

#main-footer{
  margin-top: 10px;
}

#head{
  text-align: center;
  color: blue;
}
#head:hover{
  color: red;
}

#count{
  border: 2px solid black;
  text-align: center;
  margin-top: 10px;
}

